<!-- <div class="container"> -->
<footer>
  <p><small>&copy;<strong>Gavin Elie</strong> 2022</small></p>
  <p>
    <span>
      <small>
        Built with
        <a href="https://fastapi.tiangolo.com/" target="_blank">FastAPI</a>,
        <a href="https://htmx.org" target="_blank">HTMX</a>,
        <a href="https://hyperscript.org/" target="_blank">Hyperscript</a> and
        <a href="https://bulma.io" target="_blank">Bulma CSS.</a>
      </small>
    </span>
  </p>
  <p>
    <small>
      The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
      website content is licensed
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </small>
  </p>
</footer>